<h1><%= @list.name %></h1>
<p>here's the movies</p>
<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <strong><%= movie.title %></strong> - Rating: <%= movie.rating %>
      <p><%= movie.overview %></p>
      <img src="<%= movie.poster_url %>" alt="" style="height: 200px">
    </li>
  <% end %>
</ul>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.submit %>
<% end %>

<%= link_to 'Back to all lists', lists_path %>
