<%= link_to 'Back to all lists', lists_path %>
<%= link_to 'Create a movie lists', new_list_path %>

<h1><%= @list.name %></h1>
<p>here's the movies</p>
<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <strong><%= movie.title %></strong> - Rating: <%= movie.rating %>
      <p><%= movie.overview %></p>
      <img src="<%= movie.poster_url %>" alt="" style="height: 200px">
    </li>
  <% end %>
</ul>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.submit %>
<% end %>

<% @list.bookmarks.each do |bookmark| %>
  <p>
    <%= bookmark.comment %> - <%= bookmark.movie.title %>
    <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
  </p>
<% end %>
